
body {
  background-color: #00b3e6;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

div {
  background: white;
  padding: 30px;
  margin: auto;
  width: 700px;
}

#main-header {
  font-size: 22px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  display: inline-block;
  padding: 0 10px;
  background-color: grey;
  color: white;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
}


figcaption {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 20px auto;
}

#details div {
  float: left;
  width: 25%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}
